body{
    display: flex;
    justify-content: flex-end;

    margin: 0;
    padding: 0;

    font-family: Roboto, Arial, sans-serif;
    background-color: #161616;
    color: white;
}

/*------------SIDEMENU------------*/
aside{
    position:fixed;
        top:0;
        left:0;
    
    height: 100%;
    width:220px;
    padding-left: 20px;
    padding-top: 20px;

    background: #161616;
}

aside>img{
    padding-left: 8px;
}

/*------SIDEMENU: items------*/
.menu-items{
    display: flex;
    flex-direction: column;

    padding-top: 20px;

    font-size: 15px;
    font-weight: 300;
}

.menu-items div{
    display: flex;
    align-items: center;

    padding:10px;
    
    background: #161616;
    color: white;
}

.menu-items div:hover{
    background-color: #80ed9985;
}

.menu-items div:first-child{
    background-color: #80ed9985;
}

.menu-items div a{
    text-decoration:none;
    color: white;
}

.menu-items div img{
    margin-right: 25px;
}

.menu-items hr{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.205);
    border: none;
}

/*------SIDEMENU: channels------*/
header h5{
    font-size: 14px;
    font-weight: 800;
    color: #7c7c7c;
}

.channels img{
    border-radius: 100%;
}

/*------------MAIN------------*/
main{
    display: flex;
    justify-content: flex-end;

    width: 1110px;
    height: 1400px;
}

main>div {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    
    border-radius: 10px;
    background: linear-gradient(90deg, #80ED9998, #57CC9998, #38A3A598, #22577A98);
}

/*------MAIN: nav------*/
nav {
    height: 60px;
    padding: 0 20px;
    margin-bottom: 40px;
    /*background-color: blueviolet;*/
   }

.search{
    display: flex;
    align-items: center;

    margin: 0;
    width: 400px;
    height: 60px;

    background: none;
}

.input {
    width: 400px;
    height: 40px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    
    transition: .3s ease;

    border: 2px solid #80ed9956;
    border-radius: 8px;
    font-weight: 600;
    line-height: 28px;
    background-color: transparent;
    color: #161616;
   }
   
.input::placeholder {
    color: #ffffff;
    font-size: 14px;
   }
   
.input:focus, input:hover {
    outline: none;
    border-color: #80ED9957;
    background-color: #ffffff4f;
    box-shadow: 0 0 0 4px #16161621;
   }
   
.search img {
    width: 20px;
    height: 20px;
    position: relative;
        left: 32px;
}

.multimedia {
    display: grid; 
    grid-template-columns: repeat(5, 200px); 
    grid-template-rows: 40px 240px ; 
    gap: 0px 15px; 
    grid-template-areas: 
        "musica musica musica musica musica"
        "musica1 musica2 musica3 musica4 musica5"
        "aprendizaje aprendizaje aprendizaje aprendizaje aprendizaje"
        "aprendizaje1 aprendizaje2 aprendizaje3 aprendizaje4 aprendizaje5"
        "podcasts podcasts podcasts podcasts podcasts"
        "podcasts1 podcasts2 podcasts3 podcasts4 podcasts5"
        "deporte deporte deporte deporte deporte"
        "deporte1 deporte2 deporte3 deporte4 deporte5"; 

    margin-right: 20px;
    padding-left: 20px;

    background: none;
}

.multimedia span {
    color: #ffffff79;
    font-size: 10px;
}

/*--------MUSICA--------*/
.musica {
    grid-area: musica;

    font-size: 24px;
    font-weight: 500;
}
button {
    color: #161616;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #161616;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    background-color: transparent;
   }
   
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #161616;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
   
button:hover {
    color: #fff;
}
   
button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
button:hover:before {
    top: -30px;
    left: -30px;
}
   
button:active:before {
    background: #161616;
    transition: background 0s;
}

.musica1 {
    grid-area: musica1;
    height: 240px;
    margin-top: 8px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.musica1 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.musica2 {
    grid-area: musica2;
    height: 240px;
    margin-top: 8px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.musica2 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.musica3 {
    grid-area: musica3;
    height: 240px;
    margin-top: 8px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.musica3 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.musica4 {
    grid-area: musica4;
    height: 240px;
    margin-top: 8px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.musica4 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.musica5 {
    grid-area: musica5;
    height: 240px;
    margin-top: 8px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.musica5 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

/*--------APRENDIZAJE--------*/
.aprendizaje {
    grid-area: aprendizaje;

    margin-top: 55px;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 500;
}
.aprendizaje1 {
    grid-area: aprendizaje1;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.aprendizaje1 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.aprendizaje2 {
    grid-area: aprendizaje2;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.aprendizaje2 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.aprendizaje3 {
    grid-area: aprendizaje3;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.aprendizaje3 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.aprendizaje4 {
    grid-area: aprendizaje4;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.aprendizaje4 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.aprendizaje5 {
    grid-area: aprendizaje5;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.aprendizaje5 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

/*--------PODCASTS--------*/
.podcasts {
    grid-area: podcasts;

    margin-top: 50px;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 500;
}
.podcasts1 {
    grid-area: podcasts1;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.podcasts1 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.podcasts2 {
    grid-area: podcasts2;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.podcasts2 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.podcasts3 {
    grid-area: podcasts3;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.podcasts3 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.podcasts4 {
    grid-area: podcasts4;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.podcasts4 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.podcasts5 {
    grid-area: podcasts5;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.podcasts5 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

/*--------DEPORTE--------*/
.deporte {
    grid-area: deporte;

    margin-top: 50px;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 500;
}
.deporte1 {
    grid-area: deporte1;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.deporte1 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.deporte2 {
    grid-area: deporte2;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.deporte2 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.deporte3 {
    grid-area: deporte3;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.deporte3 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.deporte4 {
    grid-area: deporte4;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.deporte4 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
.deporte5 {
    grid-area: deporte5;
    height: 240px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #161616;
}
.deporte5 div:nth-child(2){
    padding: 12px 14px 0 14px;
}
  
.portada {
    width: 200px;
    height: 130px;
    border-radius: 15px 15px 0 0;
}   